/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

*~
*.swp
*.json
gzr.code-workspace
/output/
scratch
steps_to_add_project.txt
add_thelook.sh
add_faa.sh
.gitignore
.gitignore
looker_env.sh
